.global {
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
}

.buttonGroup {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.tableWrapper {
    padding-left: 300px;
    background-color: #f0f0f0;
    margin: 0 auto;
    overflow-x: auto;
}

.flex {
    display: flex;
    gap: 5px;
}

.table {
    background-color: #f0f0f0;
    max-width: 90%;
    margin: 0 auto;
    overflow: auto;
}

.tableContainer {
    width: 100%;
    max-width: 90%;
    max-height: 700px;
    overflow: auto;
    border: 1px solid black;
}

.table,
.th,
.td {
    font-family: "Poppins", sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    padding: 0 10px;
    background-color: white;
    word-wrap: break-word;
}

.center {
    margin-left: 270px;
    padding: 30px;
}

.title,
.text {
    font-family: "Poppins", sans-serif;
    color: #005f76;
    padding: 20px 0 30px;
    user-select: none;
}

.button {
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #008080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
}

.button:hover {
    background-color: #005f5f;
}

.button:active {
    background-color: #004747;
}

.uploading {
    background-color: #8c8c8c;
    color: grey;
    user-select: none;
}

.pageContainer {
    display: flex;
    height: 100vh;
    overflow: hidden;
}