.global {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.tableWrapper {
    padding-left: 30px;
    background-color: white;
    margin: 0 auto; 
    overflow-x: auto;
}

.table {
    background-color: #dfdfdf;
    user-select: none;
    max-width: 90%;
    overflow: auto;
    margin: 0 auto;
}

.tableContainer {
    width: 100%;
    max-width: 90%;
    max-height: 700px;
    overflow: auto;
    border: 1px solid black;
}

.table, .th, .td {
    font-family: Poppins, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    user-select: text;
    word-wrap: break-word;
}

.center {
    margin-left: 270px;
    padding: 30px;
}

.title, .text {
    font-family: Poppins, sans-serif;
    color: #005f76;
    padding-bottom: 30px;
    padding-top: 20px;
}

.button {
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #008080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005f5f;
}

.button:active {
    background-color: #004747;
}