.scopedContainer {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    background-color: #ffffff;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .background {
    flex: 0 0 auto;
    position: relative;
    animation: moveBackground 30s linear infinite;
  }
  
  .background img {
    pointer-events: none;
    width: 2500px;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes moveBackground {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes formAnimation {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .form {
    position: absolute;
    margin: auto;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    overflow: auto;
    z-index: 2;
    transition: transform 0.3s, backdrop-filter 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: formAnimation 1s ease-in-out;
  }
  
  .logo img {
    pointer-events: none;
    width: 150px;
    display: block;
    margin: 0 auto 10px;
  }
  
  .selamat h1 {
    color: #000;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .selamat h3 {
    color: #666;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
  }
  
  .label {
    color: #008080;
  }
  
  .input {
    margin-top: 5px;
    display: block;
    border: 1px solid #008080;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all 0.3s ease-out;
    width: 100%;
    color: #000;
  }
  
  .passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input:focus {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 5px 0.1px #008080;
    outline: none;
  }
  
  .input:hover {
    pointer-events: visibleFill;
  }
  
  .login {
    background-color: #008080;
    color: white;
    border: 3px #008080;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  
  .login:hover {
    background-color: #ffffff;
    color: #008080;
    box-shadow: 0 0 10px 1px #008080;
    transition: all 0.2s ease-out;
  }
  
  .eye {
    margin-left: 15px;
    top: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
  }
  
  .eye img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .openEye img {
    filter: brightness(1);
    margin-bottom: 20px;
  }
  
  .closeEye img {
    margin-bottom: 5px;
  }
  
  .lupa {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
    color: blue;
  }
  
  .daftar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    margin: auto;
    color: #000;
    margin-bottom: 15px;
  }
  
  .daftar a {
    margin-left: 5px;
    color: blue;
  }
  
  .lanjut {
    text-align: center;
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .lanjutkan {
    text-align: center;
    font-size: 15px;
    color: black;
  }
  
  .lanjutkan p {
    margin-bottom: 10px;
  }
  
  .lanjutkan img {
    padding: 10px;
  }
  
  .lanjutkan img:hover {
    filter: drop-shadow(1px 1px 5px #008080);
    cursor: pointer;
  }
  
  .errorMessage {
    font-weight: bold;
    margin-bottom: -20px;
    margin-top: 20px;
    text-align: center;
    color: red;
  }
  
  .pesan {
    margin-bottom: -20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #008080;
  }  