.global {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
}

.pageContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  margin-left: 280px;
  padding: 20px;
  overflow-y: auto;
}

.heading {
  font-size: 32px;
  color: #005F76;
  text-align: left;
  margin: 50px 0 20px;
  font-weight: bold;
  user-select: none;
}

.dateReminder {
  font-size: 18px;
  color: #005F76;
  text-align: left;
  margin: 0;
  user-select: none;
}

.tanggal {
  color: green;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
  user-select: none;
}

.image {
  width: 800px;
  height: auto;
  margin-top: 20px;
  -webkit-user-drag: none;
  user-select: none;
}