.global {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #ececec;
    color: #005F76;
    padding: 20px;
}

.lambang {
    width: 100%;
    margin-bottom: 30px;
    user-select: none;
}

.menuItem {
    background-color: #f7f7f7;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.menuItem:hover {
    background-color: #ffffff;
    color: #008080;
    box-shadow: 0 0 10px 1px #008080;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.userInfo {
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
    user-select: none;
}

.deleteAccount {
    background-color: #f74040;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    bottom: 175px;
    width: 75%;
    color: white;
}

.deleteAccount:hover {
    background-color: #ff0000;
    color: white;
    box-shadow: 0 0 10px 1px #ff0000;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.logoutBox {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    bottom: 125px;
    width: 75%;
}

.logoutBox:hover {
    background-color: #ffffff;
    color: #008080;
    box-shadow: 0 0 10px 1px #008080;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.hidden {
    display: none;
}