.pageContainer {
  display: flex;
  height: 120vh;
  overflow: hidden;
  margin-top: 50px;
}

.global {
  background-color: #f0f0f0;
  width: 100%;
}

.mainContent {
  margin-top: 55px;
  margin-left: 325px;
  padding: 20px;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: auto;
  border-radius: 15px;
}

.textContainer {
  max-width: 100%;
  padding: 0 20px;
}

.heading {
  font-size: 32px;
  color: #005F76;
  text-align: left;
  margin: 0 0 20px;
  font-weight: bold;
  user-select: none;
}

.headingSecondary {
  font-size: 24px;
  color: #005F76;
  margin-top: 40px;
  margin-bottom: 20px;
  user-select: none;
}

.paragraph {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: black;
  user-select: none;
}

.inline {
  font-size: 18px;
  line-height: 1.6;
  color: black;
  user-select: none;
}

.textlink {
  margin-left: 10px;
  cursor: pointer;
  color: #008080;
  font-size: 18px;
}

.loadContent {
  font-family: "Poppins";
  padding: 12px 24px;
  font-size: 18px;
  color: #ffffff;
  background-color: #008080;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.loadContent:hover {
  background-color: #005f5f;
}

.loadContent:active {
  background-color: #004747;
}
